html, body{
    height: 0px;
    min-height: 0px;
}
body{
    background-color: lightblue;
    opacity: 15;
    font-family: sans-serif;
    background-size: 100%;
}
nav{
    background-color: #333;    
    top: 0;
    left: 0;
    width: 110vw;
    height: 100%;
    padding: 20px 22px;
    text-align: center;    
   
}
a{
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    display: inline;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    
}
a:hover {
  background-color: green;
}
h1{
    text-align: center;
    color: #000;
}
h2{
    font-style: italic;
}
.photo{

    float: right;
}
img{
    border-radius: 20px;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    
    
}
.Intro{
    
    background-color: #fff;
    text-align:center;
    margin-top: 10px;
    line-height: 50px;
    
}
.past-projects{
    padding-top: 60px;
    margin-top: -60px;
    padding-bottom: 60px;
    background-color: #dcdcdc;
}
    
